{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href  = "{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Tobi's blog</title>

    <style>

        #hdsec{

            padding-bottom: 20px;
            padding-left:10px;
            padding-right:10px;
         }

        #cl{

            color:  #020e15 ;

        }

        #htext{
           padding:20px; 
           font-family: Bradley Hand ITC;
           font-weight: bold;
        }
        #ml{

             background-image: linear-gradient(to right, #fffc70, #caff8c, #95ffb2, #61ffd8, #38fffa);
        }

    </style>
</head>


<body>

    <!-- Header %% Navigation-->
    
    <header id="hdsec">
    <nav class="navbar" id="ml">
        <a class="navbar-brand" id="cl" >Dev Hub</a>
    <form class="form-inline">
        <button class="btn" type="submit"><a href="/admin">LogIn</a></button>
     </form>
    </nav>
    </header>

    <div>
    {% block content %}

    {% endblock %}
    </div>

</body>
</html>